//////////////////////////
///////// COLORS /////////
//////////////////////////

$brand: #F58233;
$white: #fff;
$black: #1e1e1e;

//////////////////////////

//////////////////////////
///////// FONTS //////////
//////////////////////////

$main-font: 'Open Sans', Helvetica, sans-serif;
$highlight-font: 'Raleway', Helvetica, sans-serif;

//////////////////////////

//////////////////////////
///////// OTHER //////////
//////////////////////////

$radius: 20px;
$shadow: 0 0 20px rgba(0, 0, 0, 0.2);
$shadow-position: 10px;
$shadow-blur: 10px;
$shadow-opacity: 0.5;

$nav-width: 150px;

//////////////////////////
