@import "grid";
@import "mixins";
@import "variables";

.radius-left {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

.radius-right {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

.radius-top {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.radius-bottom {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

/*----------------------*/

/*------ GENERAL -------*/

:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  font-family: $gloria-font;
}

p, span {
  font-size: 0.875rem;
  line-height: 1.4;
}

body {
  background-color: #f3f3f3;
}

/*----- NAVIGATION ------*/

#side-nav {
  z-index: 99999;
  background-color: #eeeeee;
  height: 100vh;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 1rem;
  width: $nav-width;

  & .nav-inner {
    position: relative;
    height: 100%;
  }

  & ul {
    padding-left: 0;
    list-style: none;
    @include VA;

    & span {
      content: '';
      height: 33%;
      width: 4px;
      background-color: $brand;
      position: absolute;
      transition: 0.3s all ease-in-out;
      top: 0%;
    }

    & li {
      border-left: 4px solid transparent;
      transition: all 0.4s ease-in-out;
    }

    & li:hover {
      color: $brand;
      transition: all 0.2s ease-in-out;
    }

    & li:hover a { // doen of niet?
      color: $brand;
      transition: all 0.2s ease-in-out;
    }
  }

  & a {
    padding: 1rem 0.5rem 1rem 2rem;
    display: block;
    color: $black;
    text-decoration: none;
    position: relative;
  }
}

/*------ ELEMENTS -------*/

section {
  height: 100vh;
  width: 100%;
  transform: translate(30px, 1px);
  margin-left: $nav-width;
}

.container {
  background-color: #fff;
  border-radius: $radius;
  width: 80%;
  height: 80%;
  position: relative;
  @include AA;

  & button {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: $white;
    background: linear-gradient(to top, #141e30, #243b55);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 17px 20px -20px rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
    letter-spacing: 0.1em;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.4);
    }
  }
}

#home {
  & .avatar {
    width: 200px;
    height: 200px;
    transform: translate(-3rem, 2rem);
    border-radius: 1000px;
    border: 6px solid white;
    background: url('../images/Yannick-portret.png') no-repeat center center;
    background-size: cover;
    display: none; /// TEMP
  }
  & .kite {
    position: absolute;

    & img {
      width: 300px;
      height: 300px;
    }
  }
  & .left .kite {
    display: none;
  }
  & .right .kite {
    display: block;
    right: -20%;
    top: -10%;
  }

  & .left {
    //background: radial-gradient(ellipse at top, #243B55 0%, #141E30 100%);
    background-image: url('../images/yannick.jpg');
    background-size: cover;
    background-position: 40% 0;
    position: relative;
    // box-shadow: 100px 100px 200px -140px red;

    &:after {
      content: '';
      position: absolute;
      top: $shadow-position;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #00DBDE;
      background: radial-gradient(ellipse at top, #243B55 0%, #141E30 100%);
      filter: blur($shadow-blur);
      opacity: $shadow-opacity;
    }
  }

  & .right {
    background: $white;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: $shadow-position;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: lightgrey;
      background: rgba(0, 0, 0, 0.2);
      filter: blur($shadow-blur);
      opacity: $shadow-opacity;
    }
  }
}

.left, .right {
  height: 100%;

  & .content {
    padding: 3rem;
  }
}

#projects {
  & .left {
    background: radial-gradient(circle at top, #93f9b9, #1d976c);
    position: relative;

    & img {
      width: 300px;
      position: absolute;
      transform: translate(-6rem, 2rem);
    }

    &:after {
      content: '';
      position: absolute;
      top: $shadow-position;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #00DBDE;
      background: radial-gradient(circle at top, #93f9b9, #1d976c);
      filter: blur($shadow-blur);
      opacity: $shadow-opacity;
    }
  }
  & .right {
    background: $white;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: $shadow-position;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: lightgrey;
      background: rgba(0, 0, 0, 0.2);
      filter: blur($shadow-blur);
      opacity: $shadow-opacity;
    }

    & img {
      width: 400px;
      position: absolute;
      transform: translate(8rem, 2rem);
    }
  }
}

#contact {
  & .top {
    background: linear-gradient(to bottom, #f7971e, $brand);
    height: 100%;
    z-index: 9;

    & p {
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      color: darken($white, 12%);
      @include VA;
      transform: translate(0, -50%);
      // check the 30px offset

      & span {
        color: $white;
        font-size: inherit;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: $shadow-position;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #00DBDE;
      background: linear-gradient(to bottom, #f7971e, $brand);
      filter: blur($shadow-blur);
      opacity: $shadow-opacity;
    }
  }

  & p {
    color: white;
  }

  & .bottom {
    display: none;
  }
}

#contact .icons {
  color: $brand;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
}

#contact .container {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.001);

  &:hover {
    box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.2);
  }

  & .col-12 {
    transition: all 0.5s ease-in-out;
  }

  &:hover .col-12 {
    transform: translateY(-100px);
  }

  &:hover .icons {
    opacity: 1;
  }
}

.icons {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;

  & .icon {
    font-size: 2rem;
    display: inline-block;
    width: 23%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    & a, a:visited, a:focus, a:active {
      color: $brand;
    }
  }
}

.ion-ios-circle-outline {
  @include HA;
  bottom: 20px;

  color: white;
  font-size: 5rem;
}

/*----------------------*/
/*--- MEDIA QUERIES ----*/
/*----------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    font-size: 1.35rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
    padding: 0;
  }

  p, span {
    font-size: 1.35rem;
    line-height: 1.4;
  }
  /**/
  #side-nav {
    display: none;
    height: 102vh;
  }

  section {
    transform: translate(0, 1px);
    margin-left: 0;
  }

  .col-10 {
    width: 90%;
    position: absolute;
    left: 0;
    margin: 0 auto;
    float: none;
  }

  .left, .right {
    width: 100%;
    display: block;
  }

  .left { // wordt top
    height: 30%;
  }

  .right { // wordt bottom
    height: 70%;
  }

  .radius-left {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .radius-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  #home {
    & .avatar {
      @include AA;
      transform: translate(-50%, -50%) scale(1.5);
    }
    & .left {
      background-position: 0 0;
    }
    & .left .kite {
      display: block;
      right: -10%;
      top: -30%;
    }
    & .right .kite {
      display: none;
    }
  }

  #projects {
    & .left {
      & img {
        @include AA;
        transform: translate(-50%, -50%) scale(1.5);
      }
    }
  }
}